SECRET_KEY=secret-key
DEBUG=False
WEBSITE_NAME="website"
BASE_URL=""
DJANGO_SETTINGS_MODULE="config.settings"
SQL_ENGINE="django.db.backends.postgresql"
SQL_DATABASE="web_db"
SQL_USER="user"
SQL_PASSWORD="passwd"
SQL_HOST=host
SQL_PORT=9999